button {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: darkgrey;
}

button:disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--color-accent);
}

.btn-primary:hover {
  background-color: var(--color-accent-darker);
}

.btn-primary:disabled {
  background-color: var(--color-accent-dim);
}

.btn-lg {
  font-size: 1.5rem;
}