input, textarea {
    background-color: var(--vt-c-black-mute);
    color: inherit;
    border: 1px solid var(--color-border);
    padding: 12px 20px;
    resize: none;
}

input:disabled, textarea:disabled {
    cursor: not-allowed;
}