input, textarea, select {
    background-color: var(--vt-c-black-mute);
    color: inherit;
    border: none;
    padding: 12px 20px;
    resize: none;

    &:disabled {
        cursor: not-allowed;
    }
}

select {
    &:focus {
        box-shadow: 0 0 0 .15rem var(--accent-color-dim);
    }
}