.markdown-display blockquote {
  padding: 10px 20px;
  margin: 0 0 20px 0;
  border-left: 5px solid rgba(84, 84, 84, 0.48);
}

.markdown-display h1 {
  color: rgb(16, 185, 129);
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.markdown-display h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.markdown-display h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.markdown-display h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.markdown-display h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.markdown-display h1, .markdown-display h2, .markdown-display h3 {
  margin: 20px 0 10px 0;
}

.markdown-display ul, .markdown-display ol {
  list-style: revert;
  padding: revert;
  margin: inherit;
}

.markdown-display p {
  margin: 0 0 10px 0;
}

.markdown-display pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: rgba(235, 235, 235, 0.64);
  word-break: break-all;
  word-wrap: break-word;
  background-color: #222222;
  border: 1px solid rgba(84, 84, 84, 0.48);
  border-radius: 4px;
}

.markdown-display a {
  cursor: pointer;
  color: rgb(16, 185, 129);
  text-decoration: underline;
  transition: 0.4s;
}