.markdown-display blockquote {
  padding: 10px 20px;
  margin: 0 0 20px 0;
  border-left: 5px solid var(--color-border);
}

.markdown-display h1, .markdown-display h2, .markdown-display h3 {
  margin: 20px 0 10px 0;
}

.markdown-display h1 {
  color: var(--color-accent);
}

.markdown-display p {
  margin: 0 0 10px 0;
}

.markdown-display pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: var(--color-text);
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  border-radius: 4px;
}
