$spacer: 1rem;

.mt-1 {
    margin-top: $spacer * 0.25 !important;
}

.mt-2 {
    margin-top: $spacer * 0.5 !important;
}

.mt-3 {
    margin-top: $spacer * 0.75 !important;
}

.mt-4 {
    margin-top: $spacer !important;
}

.mr-1 {
    margin-right: $spacer * 0.25 !important;
}

.mr-2 {
    margin-right: $spacer * 0.5 !important;
}

.mr-3 {
    margin-right: $spacer * 0.75 !important;
}

.mr-4 {
    margin-right: $spacer !important;
}

.mb-1 {
    margin-bottom: $spacer * 0.25 !important;
}

.mb-2 {
    margin-bottom: $spacer * 0.5 !important;
}

.mb-3 {
    margin-bottom: $spacer * 0.75 !important;
}

.mb-4 {
    margin-bottom: $spacer !important;
}

.ml-1 {
    margin-left: $spacer * 0.25 !important;
}

.ml-2 {
    margin-left: $spacer * 0.5 !important;
}

.ml-3 {
    margin-left: $spacer * 0.75 !important;
}

.ml-4 {
    margin-left: $spacer !important;
}